In [1]:
import numpy as np
import pandas as pd

myIndex = [('Slot1', 1), ('Slot1', 2), ('Slot1', 3), ('Slot2', 1), ('Slot2', 2), ('Slot2', 3)]
myIndex = pd.MultiIndex.from_tuples(myIndex)

dataFrame = pd.DataFrame(np.random.randn(6,2), index=myIndex, columns=['Res1', 'Res2'])

In [2]:
dataFrame

             Res1      Res2
Slot1 1  1.110775 -0.620067
      2  0.504838 -0.325082
      3 -0.653652 -1.697839
Slot2 1  1.418839  0.642676
      2  0.481129 -1.297434
      3  0.205023 -0.117770

it is a multi index since there is two index for the dataframe one is outer and another is inner index
outer is Slot1 and Slot2 and inner is 1,2,3..

to select slot1 from the dataframe use loc attribute

In [5]:
dataFrame.loc['Slot1']

       Res1      Res2
1  1.110775 -0.620067
2  0.504838 -0.325082
3 -0.653652 -1.697839

here we break down the multiindex matrix to usual 2D matrix

to get second row from dataframe

In [9]:
dataFrame.loc['Slot1'].iloc[2]

Res1   -0.653652
Res2   -1.697839
Name: 3, dtype: float64

# assign names for both outer and inner index

In [14]:
dataFrame.index.names=['Slots','IDs']

In [15]:
dataFrame

               Res1      Res2
Slots IDs
Slot1 1    1.110775 -0.620067
      2    0.504838 -0.325082
      3   -0.653652 -1.697839
Slot2 1    1.418839  0.642676
      2    0.481129 -1.297434
      3    0.205023 -0.117770

it returns the entries of outer Slot1 index

# Cross section


Return cross-section from the Series/DataFrame.

This method takes a `key` argument to select data at a particular
level of a MultiIndex.

In [32]:
dataFrame.xs('Slot1')

         Res1      Res2
IDs
1    1.110775 -0.620067
2    0.504838 -0.325082
3   -0.653652 -1.697839

# to return a particluar inner index from the outer index

just pass the outer and inner index in a tuple

In [44]:
dataFrame.xs(('Slot1',1))

# (outerindex,innerindex)

Res1    1.110775
Res2   -0.620067
Name: (Slot1, 1), dtype: float64

In [38]:
dataFrame.xs(('Slot2',2))

Res1    0.481129
Res2   -1.297434
Name: (Slot2, 2), dtype: float64

In [48]:
dataFrame.xs(('Slot2',3))

Res1    0.205023
Res2   -0.117770
Name: (Slot2, 3), dtype: float64

In [40]:
dataFrame.xs(('Slot1',2))

Res1    0.504838
Res2   -0.325082
Name: (Slot1, 2), dtype: float64

# Selection from both outer index

In [42]:
dataFrame

               Res1      Res2
Slots IDs
Slot1 1    1.110775 -0.620067
      2    0.504838 -0.325082
      3   -0.653652 -1.697839
Slot2 1    1.418839  0.642676
      2    0.481129 -1.297434
      3    0.205023 -0.117770

to select inner index 2 from both the slots

In [49]:
dataFrame.xs(2,level='IDs')

           Res1      Res2
Slots
Slot1  0.504838 -0.325082
Slot2  0.481129 -1.297434

here just pass key value of inner index and then assign label also called 'name' of inner index to level attribute

In [43]:
dataFrame.xs(1,level='IDs')

           Res1      Res2
Slots
Slot1  1.110775 -0.620067
Slot2  1.418839  0.642676

In [46]:
dataFrame.xs(2,level='IDs')

           Res1      Res2
Slots
Slot1  0.504838 -0.325082
Slot2  0.481129 -1.297434