In [7]:
import numpy as np
import pandas as pd

# pandas attribute **Series**

In [ ]:
pd.Series(data=[3,4,5,8],index=['a','b','c','d'],)

# here v pass a iterable and index values rreprsenting those iterables.

In [ ]:

# passing a dictionary to the series attribute.
dt_dict={'a':3,'b':10,'c':60}
pd.Series(dt_dict)

here dictionary automaitcaly converted to series object

In [ ]:
category={0:'HEALTH',1:'WORLD',2:'SCIENCE'}
cate_sr=pd.Series(category)
cate_sr

In [2]:
type(cate_sr)

NameError: name 'cate_sr' is not defined

# Adding two series objects

In [ ]:
items={'a':10,'b':20,'c':30,'d':40}
new=pd.Series(items)

In [ ]:
items2={'a':12,'e':45,'c':56,'g':60}
new2=pd.Series(items2)

In [ ]:
new+new2

here same key present in both the series are added and keys that not appear in both returned a NaN value

In [ ]:
pd.Series([4,5,6,7],['f','g'])


# here shows error since both length doesnt match

In [ ]:
new=pd.Series([1,2,3,4],['a','g','h','j'])
new

first argument is data and second is the index 
both r impportant

# fetching data from a series using its index

In [ ]:
new['h']

In [ ]:
new['j']

In [ ]:
import pandas as pd
pd_sr=pd.Series([500,300,200],['a','g','h'])
pd_sr
pd_sr['h']

# DataFrame in Pandas

In [ ]:
from numpy.random import randn
data=randn(3,3)
data

In [ ]:
# pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

df=pd.DataFrame(data,['row1','row2','row3'],['col1','col2','col3'])


data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame     Dict can contain Series, arrays, constants, or list-like objects

 index : Index or array-like
     Index to use for resulting frame. Will default to RangeIndex if
     no indexing information part of input data and no index provided
 columns : Index or array-like
     Column labels to use for resulting frame. Will default to
     RangeIndex (0, 1, 2, ..., n) if no column labels are provided

In [ ]:
df

Constructing a DataFrame usng Dictionaries.
here keys in dictionaries r traeted as columns.
and index is assigned default values

In [ ]:
data={'col':[3,4,10],'col2':[5,6,2],'col3':[7,8,40]}
df=pd.DataFrame(data)
df

In [ ]:
df['col'][0]

# retrieving first value having index 0 from first column

In [ ]:
print(type(df))

# Selecting a value from a dataframe

In [ ]:
df['col'][2]

In [ ]:
df['col3'][2]

Selecting more no of columns from the  dataframe

In [ ]:
df[['col','col2']]

In [ ]:
df

# Adding a new column to existing dataframe.

which contain values that r obtained by multiplying col and col3 values.

In [ ]:
df['col4']=df['col'] * df['col3']
df

In [ ]:
import pandas as pd
details={'name':['jissmon','Ajith','Vikram'],'age':[45,66,22],'skills':['Python','JavaScript','Ruby']}
df=pd.DataFrame(details)
df

Adding a new column to the dataframe

In [ ]:
exp=[12,10,14]
df['experience']=exp
df

In [ ]:
# selecting name and skills dfrom the dataframe
df[['name','skills']]

In [ ]:
# created a new columns salary by multplying age and skills columns in the df.

df['salary']=df['age'] * df['experience'] * 100

In [ ]:
df

# Delete a columns from the Dataframe

In [ ]:
loc=['Chennai','Kochi','Delhi']
df['location']=loc

In [ ]:
df

In [ ]:

# use drop () to drop a column from dataframe.

df.drop('location',axis=1,)

# specify label as 'location' and give the axis value, here axis=1 since 'location' is a column

df.drop(
    labels=None,
    axis=0,
    index=None,
    columns=None,
    level=None,
    inplace=False,
    errors='raise',
)


Remove rows or columns by specifying label names and corresponding
axis, or by specifying directly index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index, columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).

# drop rows from dataframe using index

In [ ]:
df.drop(2,axis=0)

here specify the index value 2 as label and later give axis=0 which refers to index/rows in dataframe

In [ ]:
df

# here that particular row  is not droped from our original dataframe.
        to REMOVE FROM our original dataframe
            set parameter, inplace=True

In [ ]:
df.drop(2,axis=0,inplace=True)

In [ ]:
df

In [ ]:
df.drop('experience',axis=1,inplace=True)
df

# Appending dataframes and form a new one

In [ ]:
df

In [ ]:
details={'name':'RaviKumar','age':23,'skills':'ReactJS','experience':11,'salary':56000,'location':'Dubai'}
df_2=pd.DataFrame(details,index=[2])
df_2

In [ ]:
new_df=df.append(df_2)
new_df

In [ ]:
details={'name':['Jeevan'],'age':[43],'skills':['NodeJS'],'experience':[4],'salary':[55000],'location':['UK']}
df_3=pd.DataFrame(details,index=[3])
df_3

In [3]:
new_df_2=new_df.append(df_3)
new_df_2

NameError: name 'new_df' is not defined

# Removing Rows and Columns From a dataframe

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
books_df=pd.DataFrame({'Title':['Harry Potter','Lost Child','Forgiven'],'Author':['Smith','Sooraj','Akhilesh'],
              'No.of.Pages':[450,500,700],'Year':[2015,2019,2018]})
books_df

In [ ]:
new_details=[456,600,np.nan]

In [ ]:
new_details

In [ ]:
books_df['Price']=new_details

In [ ]:
books_df

Remove missing values.

See the :ref:`User Guide <missing_data>` for more on which values are
considered missing, and how to work with missing data.

Parameters
----------
axis : {0 or 'index', 1 or 'columns'}, default 0
    Determine if rows or columns which contain missing values are
    removed.

    * 0, or 'index' : Drop rows which contain missing values.
    * 1, or 'columns' : Drop columns which contain missing value.

    .. deprecated:: 0.23.0

       Pass tuple or list to drop on multiple axes.
       Only a single axis is allowed.

how : {'any', 'all'}, default 'any'
    Determine if row or column is removed from DataFrame, when we have
    at least one NA or all NA.

    * 'any' : If any NA values are present, drop that row or column.
    * 'all' : If all values are NA, drop that row or column.

thresh : int, optional
    Require that many non-NA values.
subset : array-like, optional
    Labels along other axis to consider, e.g. if you are dropping rows
    these would be a list of columns to include.
inplace : bool, default False
    If True, do operation inplace and return None.

Returns
-------
DataFrame
    DataFrame with NA entries dropped from it.

In [ ]:
books_df.dropna(axis=1,how='any',inplace=True)

In [ ]:
books_df

**Example 2**

In [ ]:
new_df=pd.DataFrame({'Title':['Marry Me',np.nan],'Author':['Sooraj','Jeevan'],'No.of.Pages':[100,np.nan],
                     "Year":[2019,2010]
                    },index=[3,4])
new_df

In [ ]:
books_df=books_df.append(new_df)

In [ ]:
books_df

In [ ]:
books_df.dropna(axis=0,inplace=True)

In [ ]:
books_df

# fiiling NaN values fillna()

In [ ]:
data=[4,5,np.nan,6,8,10,np.nan,5,20,5,8,10]
new_data=np.array(data)
data=new_data.reshape(3,4)
data

In [ ]:
new=pd.DataFrame(data,columns=list('ABCD'))

In [ ]:
new

In [ ]:
new.fillna(0)

# Seleting Rows using Pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.DataFrame(np.random.randn(3,3),index=['R1','R2','R3'],columns=['C1','C2','C3'])
data

In [ ]:
data['R1']


#shows error cant access the rows similar to columns.

**Method1**

In [ ]:
# use loc attribute of pandas and pass the label of index.


data.loc['R1']

In [ ]:
data.loc['R2']

**Method 2**

In [ ]:
# use iloc attribute of andas and pass the index of each row such 0,1,2...
# mainly used when rows are not labeled.

data.iloc[1]

In [4]:
data.iloc[2]

NameError: name 'data' is not defined

In [ ]:
books_df.iloc[2]

In [ ]:
books_df.iloc[1]

# Selecting a section of rows and columns from dataframe

In [ ]:
# loc attr and pass the row and columns to be selected as separate lists.

data.loc[['R1','R2'],['C1','C2']]

In [ ]:
data.loc[['R2'],['C2']]

In [ ]:
# here v pass the index of dataframe instead of label of index.
# if use iloc attr show error.
# so use loc attribute to get the seletion.

books_df.loc[[0,1],['Title','Year']]

In [ ]:
books_df

**Example1**

In [ ]:
books_df.loc[[0,1],['No.of.Pages','Author']]

**Example2**

In [ ]:
books_df.loc[[1, 2], ['Author', 'Year']]

**Example3**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataarr=np.arange(5,13)
# data_df=pd.DataFrame()

In [ ]:
len(dataarr)

In [ ]:
dataarr=dataarr.reshape(2,4)

In [ ]:
df=pd.DataFrame(dataarr)

In [ ]:
df

In [ ]:
df.loc[[0,1],[2,3]]

In [ ]:
df[df>7]

# Conditional selections in Pandas

In [ ]:
data=pd.DataFrame(np.random.randn(4,4),index=['R1','R2','R3','R4'],columns=['C1','C2','C3','C4'])
data

In [ ]:
data<1

In [ ]:
# here the true values are returned. and false values are shown in NaN. 

data[data<1]

In [ ]:
# wgen we try to explicitly return a column based on a condition the entire row satisfying 
# those condition is returend


data[data['C1']>0]

**Example 2**

In [ ]:
data[data['C3']>-1]

**Example 3**

In [ ]:
data[data['C1']>3]

# multiple selection using pandas

In [ ]:
data

In [ ]:
data[data['C3']>0 & data['C4']>0]


# it shows an error since we compare muliple arrrays with boolean values

In [ ]:
# so enclose both the pair of conditions in each parentheses
# thus returns the rows that satisfy the given condition
# here i use or operation 

data[(data['C2']>0) | (data['C3']>0)]

**Exampple**

In [5]:
data[(data['C2']>0) & (data['C4']>0)]



# here used and operation and in columns c2 and c4 there is value>0 which comes in R3.
# soo hthat entire row is returned

NameError: name 'data' is not defined

NOte: Dont use operator 'and', 'or' while checking conditions.
use & and pipe symbol '|' instead
since ir shows error.
ie while comparing matices use & and |.

In [ ]:
[(data['C2']>0) and (data['C4']>0)]

# Setting and Resetting Index for a dataframe

In [ ]:
newindex = ['a', 'b', 'c', 'd']
data.set_index(newindex, inplace=True)

# shows error so firt add that new index as new column to the dataframe

In [ ]:
data['index'] = newindex
data

set the index using set_index()

data.set_index(
    keys,
    drop=True,
    append=False,
    inplace=False,
    verify_integrity=False,
)

Set the DataFrame index using existing columns.

In [ ]:
data.set_index('index', inplace=True)
data

reset the index using reset_index()

Reset the index of the DataFrame, and use the default one instead.

In [ ]:
data.reset_index(drop=True, inplace=True)

# e can use the `drop` parameter to avoid the old index being added as
# a column:

In [ ]:
data

In [ ]:
data.set_index('C3')

In [ ]:
data

In [ ]:
data.reset_index(drop=True)

In [ ]:
books_df=pd.DataFrame({'Title':['Harry Potter','Lost Child','Forgiven'],'Author':['Smith','Sooraj','Akhilesh'],
              'No.of.Pages':[450,500,700],'Year':[2015,2019,2018]})
books_df

In [ ]:
books_df.set_index('Year',inplace=True)

In [ ]:
books_df

In [ ]:
books_df.reset_index(inplace=True,drop=True)
books_df


# here v droped Column year from dataframe so use it carefully 
# or specify inplace = False if v r doing it thus it doesnt affect original dataframe