In [1]:
import numpy as np
arr=np.arange(10,31)
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30])

In [7]:
# slicing thru arrays

In [2]:
arr[3:]

array([13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
       30])

In [3]:
arr[::-1]

array([30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14,
       13, 12, 11, 10])

In [4]:
arr[7:10]

array([17, 18, 19])

In [5]:
arr[::2]

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30])

In [6]:
arr[:4]

array([10, 11, 12, 13])

In [8]:
arr[::4]

array([10, 14, 18, 22, 26, 30])

In [9]:
arr[2::2]

array([12, 14, 16, 18, 20, 22, 24, 26, 28, 30])

In [10]:
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30])

In [11]:
part1=arr[4:10]

In [12]:
part1

array([14, 15, 16, 17, 18, 19])

In [16]:
# replace all the arrary values with integer 89 in part1
part1[:]=89

In [17]:
part1

array([89, 89, 89, 89, 89, 89])

In [18]:
# print the array
arr

array([10, 11, 12, 13, 89, 89, 89, 89, 89, 89, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30])

here by updating the array values in part1 will also reflects those values in our original array.

In [22]:
part2=arr[-1::]

In [23]:
part2

array([30])

In [24]:
part2[:]=20

In [25]:
part2

array([20])

In [26]:
arr

array([10, 11, 12, 13, 89, 89, 89, 89, 89, 89, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 20])

here v updated the last arrar value of part2 which inturn 
also changes the same value of arr

 so v can make changes to array without affecting the original array,
 v use copy() method.

In [30]:
copyarr=arr.copy()

In [31]:
copyarr[:]=67

In [32]:
copyarr

array([67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67,
       67, 67, 67, 67])

In [33]:
arr

array([10, 11, 12, 13, 89, 89, 89, 89, 89, 89, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 20])

here we copied array values to copyarr and later updated 
it with value. bt it doesnt affect the our original array.

In [35]:
part3=arr.copy()

In [37]:
part4=part3[5:10]

In [39]:
part4[:]=98

In [40]:
part4

array([98, 98, 98, 98, 98])

In [41]:
arr

array([10, 11, 12, 13, 89, 89, 89, 89, 89, 89, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 20])

# selecting values from a 2D array

In [3]:
import numpy as np
twodarr=np.array([[4,5,6],[5,8,9],[10,23,45]])

In [4]:
twodarr

array([[ 4,  5,  6],
       [ 5,  8,  9],
       [10, 23, 45]])

In [14]:

# TWO SQ.BRACKETS EACH CONTAINS ROW NO AND COLUMN NO THAT IS TO BE SELECTED.
# METHOD 1

twodarr[0][2]

6

In [23]:
# METHOD 2
twodarr[0,1]

5

In [20]:
twodarr[0]
# HERE SELECTING JUST FIRST ROW(INDCATED BY INDEX 0) FROM THE WHOLE 2D ARRAY OR MATRIX

array([4, 5, 6])

In [21]:
twodarr[1]

array([5, 8, 9])

In [22]:
twodarr[2]

array([10, 23, 45])

In [27]:
first=twodarr[2]
first[1:]

array([23, 45])

# selecting submatrix from original matrix

In [28]:
twodarr

array([[ 4,  5,  6],
       [ 5,  8,  9],
       [10, 23, 45]])

In [37]:
twodarr[:1,1:]

array([[5, 6]])

In [40]:
twodarr[:2,1:]

# here v select a 2 by 2 matrix from a 3 by 3 matrix

array([[5, 6],
       [8, 9]])

In [43]:
twodarr[1:,0:2]

array([[ 5,  8],
       [10, 23]])

In [45]:
twodarr[:2,:2]

array([[4, 5],
       [5, 8]])

In [46]:
twodarr[1:,1:]

array([[ 8,  9],
       [23, 45]])

In [49]:
newarr=np.arange(2,11)
newarr

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10])

In [50]:
newarr.reshape(3,3)

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10]])

# conditions checking with in an array

In [52]:
datarr=np.arange(2,15)
datarr

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [54]:
datarr[datarr>8]

array([ 9, 10, 11, 12, 13, 14])

it returns another array from original array that satisfies the condition specified.
ie returns only values > 8 in new array

In [55]:
datarr>10

array([False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True])

this is exactly happening only returns values coreesponding to true from original array

In [56]:
datarr[datarr<7]

array([2, 3, 4, 5, 6])

In [58]:
datarr<7

array([ True,  True,  True,  True,  True, False, False, False, False,
       False, False, False, False])

only true values r returned

In [ ]:
# examples
import numpy as np
data=np.arange(5,15)
new=data[data>8]
new.reshape(2,3)

# operations on arrays

In [14]:
data=np.arange(2,12)

In [15]:
data

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [16]:
data * 3

array([ 6,  9, 12, 15, 18, 21, 24, 27, 30, 33])

In [17]:
data

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

# here unlike list wihout using any for loops v can perform operations on arrays.

In [18]:
data / 2

array([1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5])

In [19]:
newarray=np.arange(3,13)

In [20]:
newarray

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [21]:
# multiplying two arrays
newarray*data

array([  6,  12,  20,  30,  42,  56,  72,  90, 110, 132])

In [22]:
secondarr=np.arange(4,10)

In [23]:
secondarr*newarray

ValueError: operands could not be broadcast together with shapes (6,) (10,)

 here we cant do mulpliations since both arrays r of different shapes

In [24]:
np.sqrt(data)
# finding sq.root of each alues in the array.

array([1.41421356, 1.73205081, 2.        , 2.23606798, 2.44948974,
       2.64575131, 2.82842712, 3.        , 3.16227766, 3.31662479])

In [25]:
np.average(data)

# fnding average of given array.

6.5

In [26]:
# sum of values in array
np.sum(data)

65

In [28]:
len(data)

10

In [29]:
len(newarray)

10

In [33]:
data=data.reshape(2,5)
newarray=newarray.reshape(5,2)
data
newarray

array([[ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [34]:
data

array([[ 2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11]])

In [36]:
np.cross(data,newarray,axis=0)

ValueError: incompatible dimensions for cross product
(dimension must be 2 or 3)

In [3]:
# cross product of two vectors.

a=np.array([4,5,6])
b=np.array([1,2,3])
np.cross(a,b)

array([ 3, -6,  3])

In [5]:
a.reshape(3)

array([4, 5, 6])

In [6]:
# finding dot product of two vectors

np.dot(a,b)

32

In [8]:
# finding transpose of matrix

a=np.arange(4).reshape(2,2)

In [9]:
a

array([[0, 1],
       [2, 3]])

In [10]:
a.transpose()

array([[0, 2],
       [1, 3]])

In [17]:
b=np.arange(6).reshape(2,3)

In [18]:
b

array([[0, 1, 2],
       [3, 4, 5]])

In [19]:
b.transpose()

array([[0, 3],
       [1, 4],
       [2, 5]])

here v convert a 2 by 3 matrix to 3 by 2 matrxi

# numpy.array_split
numpy.array_split(ary, indices_or_sections, axis=0)[source]
Split an array into multiple sub-arrays.

In [20]:
arr=np.arange(9)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [23]:
np.array_split(arr,3)

[array([0, 1, 2]), array([3, 4, 5]), array([6, 7, 8])]

In [24]:
arr2=np.arange(23,40)
arr2

array([23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39])

In [25]:
len(arr2)

17

In [26]:
np.array_split(arr2,4)

[array([23, 24, 25, 26, 27]),
 array([28, 29, 30, 31]),
 array([32, 33, 34, 35]),
 array([36, 37, 38, 39])]

# numpy.mean

returns the average of array elements

In [27]:
arra=np.arange(50)
arra

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [28]:
np.mean(arra)

24.5

# numpy.stdÂ¶

returns the standard deviation of array values

In [29]:
new_arr=np.arange(50,100)
np.std(new_arr)

14.430869689661812

# nump.cov

Covariance indicates the level to which two variables vary together

In [32]:
var1=np.arange(10)

In [33]:
var2=np.arange(11,21)

In [34]:
print(var1, var2)

[0 1 2 3 4 5 6 7 8 9] [11 12 13 14 15 16 17 18 19 20]

In [35]:
np.cov(var1,var2)

array([[9.16666667, 9.16666667],
       [9.16666667, 9.16666667]])

In [51]:
var1=np.array([1,2,3,4])
var2=np.array([5,6,7,8])
np.cov(var1,var2)

array([[1.66666667, 1.66666667],
       [1.66666667, 1.66666667]])

# numpy.stack

to join two arrays

In [52]:
var1=np.array([4,5,6])
var2=np.array([1,2,3])
new=np.stack((var1,var2))
print(new)

[[4 5 6]
 [1 2 3]]

In [53]:
print(np.cov(new))

[[1. 1.]
 [1. 1.]]

In [54]:
np.shape(new)

(2, 3)