# NUMPY EXERCISE

In [4]:
import numpy as np

In [5]:
mylist=[4,5,6,7]
mylist

[4, 5, 6, 7]

One-Dimensional or Single-Dimensional array is considered as the” list of variables of similar data types”,
and each variable can be distinctly accessed by specifying its index in square brackets preceded by the name of that array.

In [12]:
# converting list to 1D array
new=np.array(mylist)
new

array([4, 5, 6, 7])

In [11]:
# accessing an array value 
new[1]

5

In [16]:
# slicing thru array
new[1:3]

array([5, 6])

# creating 2d array:

A two-dimensional array is stored in the form of the row-column matrix, where the first index indicate the row and second index indicates the column

In [28]:
mytwolist=[[4,5,6,7],[56,8,19,10],[57,19,2,3]]

In [29]:
mytwolist

[[4, 5, 6, 7], [56, 8, 19, 10], [57, 19, 2, 3]]

In [30]:
# pass list as argument
twodarray=np.array(mytwolist)
twodarray

array([[ 4,  5,  6,  7],
       [56,  8, 19, 10],
       [57, 19,  2,  3]])

In [37]:
# accesing values from 2d array
twodarray[0][0]

4

In [38]:
twodarray[0][1]

5

In [39]:
twodarray[1][3]

10

In [40]:
twodarray[2][2]

2

note: if a array starts with one brackets it is 1D array, if it has 2 square brackets- a 2d array

arange() of numpy

In [43]:
# creating a 1d array using arange() method
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [48]:
np.arange(10,100)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
       61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77,
       78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94,
       95, 96, 97, 98, 99])

In [49]:
np.arange(1,10)[3]

4

In [53]:
# reversing an array
np.arange(1,100)[::-1]

array([99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83,
       82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66,
       65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49,
       48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32,
       31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15,
       14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [56]:
# skipping numbers thru array
np.arange(1,100,5)

array([ 1,  6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81,
       86, 91, 96])

In [58]:
# slicing from an array
np.arange(1,10)[2:7]

array([3, 4, 5, 6, 7])

In [59]:
np.arange(1,10,2)

array([1, 3, 5, 7, 9])

In [65]:
# creating 1D array of zeros
np.zeros(3)

array([0., 0., 0.])

In [67]:
# creating 2D array of zeros
# pass tuple as argument saying no of rows and columns needed
np.zeros((4,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [68]:
# # creating 1D array of ones
np.ones(3)

array([1., 1., 1.])

In [69]:
# creating 2D array of ones
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [70]:
np.ones((3,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])