In [1]:
import pandas as pd
import numpy as np

# Reading and writing from/to csv file using read_csv()



Read a comma-separated values (csv) file into DataFrame.

In [3]:
exm_df=pd.read_csv('./MachineLearning/Pandas/example-csv.csv')
exm_df.head()

      1     2     3
0    11    22    33
1   111   222   333
2  1111  2222  3333

In [12]:
exm_df.to_csv('output.csv',)

In [13]:
pd.read_csv('output.csv')

   Unnamed: 0     1     2     3
0           0    11    22    33
1           1   111   222   333
2           2  1111  2222  3333

here there is another index is created while wrting a csv file

so norder o avoid this v use index option while wrting to a csv file

In [20]:
exm_df.to_csv('output.csv',index=False,columns=['1','2'])
pd.read_csv('output.csv')

# here v set index to False, so new  index is not created.
# and also assign first and column to be written to the csv file.

      1     2
0    11    22
1   111   222
2  1111  2222

# Reading a excel sheet using read_excel()



Read an Excel file into a pandas DataFrame.

In [29]:
exec_df=pd.read_excel('./MachineLearning/Pandas/example-excel.xlsx',sheet_name='Sheet2')
exec_df.head()


# here v read from sheet 2

     name   age       city
0  jissmon   23      kochi
1    Gitto   24     Kalady
2   Geroge   23  Thuravoor

In [33]:
exec_df=pd.read_excel('./MachineLearning/Pandas/example-excel.xlsx',sheet_name='Sheet1')
exec_df.head()

# read from sheet 1 which is default.

       1      2      3
0     11     22     33
1    111    222    333
2   1111   2222   3333
3  11111  22222  33333

In [36]:
pd.read_excel('./MachineLearning/Pandas/example-excel.xlsx',sheet_name='Sheet3')

# imported data from sheet3

          job  salary
0     manager    3000
1  it officer    4000